<header>
  &nbsp; &nbsp;&nbsp; Welcome To Feed The Need
</header>
<br />
&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
<input type="text" name="sear" />&nbsp;&nbsp;<input
  type="button"
  value="  Searchsssssssss  "
  (click)="submit()"
/>
<div *ngIf="myData?.length > 0">
<div *ngFor="let item of myData">
  <table>
    <br >
    <br > 
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orphanage : <input type="text" value={{item.organame}} disabled>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Number &nbsp; : <input type="text" value={{item.phone_number}} disabled></p>
     
      &nbsp;&nbsp;&nbsp;&nbsp; Address  &nbsp;&nbsp;&nbsp;&nbsp; : <input type="text" value={{item.address}} disabled>
    
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" value={{item.city}} disabled>
     
      <p ></p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" value={{item.state}} disabled>
     
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pincode &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;: <input type="text" value={{item.pincode}} disabled></p><br >
   
  </table>
</div>
</div>